
# Server
[mysqld]
user = root
datadir = /app/data
port = 3306
log-bin = /app/data/mysql-bin
socket=/app/data/mysql.sock
bind-address = 0.0.0.0

# Client
[client]
port=3306
socket=/app/data/mysql.sock


[mysqldump]
user=root
